html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'heading';
  src: url('../assets/fonts/LEMONMILK-Regular.otf') format('opentype');
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 100vh; /* 100% of viewport height */
  --color: #e1e1e1;
  background-color: #f3f3f3;
  background-image: linear-gradient(
      0deg,
      transparent 24%,
      var(--color) 25%,
      var(--color) 26%,
      transparent 27%,
      transparent 74%,
      var(--color) 75%,
      var(--color) 76%,
      transparent 77%,
      transparent
    ),
    linear-gradient(
      90deg,
      transparent 24%,
      var(--color) 25%,
      var(--color) 26%,
      transparent 27%,
      transparent 74%,
      var(--color) 75%,
      var(--color) 76%,
      transparent 77%,
      transparent
    );
  background-size: 55px 55px;
}

.heading {
  font-weight: bold;
  color: teal;
  font-family: heading, sans-serif;
  font-size: 100px;
}
